# Dependencies
node_modules/

# Client specific ignores
client/.expo/
client/dist/
client/web-build/
client/expo-env.d.ts
client/.kotlin/
client/ios/
client/android/
client/.metro-health-check*

# Server specific ignores
server/out/
server/dist/
server/coverage/
server/uploads/

# Build & typescript
*.tsbuildinfo
*.tgz

# Native certificates / credentials
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Environment config files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# IDEs & System files
.vscode/*
.idea/
.DS_Store
*.orig.*

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Cache
.eslintcache
.cache/


bun.lock*